:root {
  --font-s1: 70px;
  --font-s2: 22px;
  --font-s3: 18px;
  --font-s4: 16px;
  --font-s5: 14px;
  --search-width: 325px;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #ffffff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  color: black;
  font-size: large;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
}
